<ion-header>
<headernav></headernav>
</ion-header>

<ion-content padding>
  <ion-list>
    <h2 text-center>Nueva Sesión de Coaching</h2>
    <ion-item>
      <ion-label fixed>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="msj.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Correo</ion-label>
      <ion-input type="email" [(ngModel)]="msj.correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Celular</ion-label>
      <ion-input type="number" [(ngModel)]="msj.celular"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Fecha y Hora</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DDTHH:mm" [(ngModel)]="msj.fecha_hora"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label fixed>Mensaje</ion-label>
      <ion-textarea [(ngModel)]="msj.mensaje"></ion-textarea>
    </ion-item>

    <button ion-button full color="yellowapp" (click)="send()">Solicitar Sesion</button>
  </ion-list>

</ion-content>
