<ion-header>
<headernav></headernav>
</ion-header>
<ion-content class="bgImage icontent">
  <div class="login-box">
    <form>
      <ion-row>
        <ion-col>
          <ion-list inset>
            
            <ion-item>
              <ion-input type="email" placeholder="Correo Electronico" name="email"  [(ngModel)]="user" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="pass" required></ion-input>
            </ion-item>
            
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" (click)="startLogin()" color="greenapp" full type="submit" >Entrar</button>
        </ion-col>
      </ion-row>
    </form>
    <p class="p_error">{{error}}</p>
  </div>
</ion-content>