page-login {
  ion-row {
    align-items: center;
    text-align: center;
  }

  .icontent{
    position: relative;
  }

  .login-box{
    position: absolute;
    top: 25%;
    left: 0.5px;
    width: 100%;

  }

  .signup-col {
    margin: 0px 16px 0px 16px;
    padding-bottom: 20px;
  }
 

  .p_error{
    text-align: center;
    color: white;
    font-weight: bold;
  }

  .bgImage{
    background-image: url("../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  ion-item{
    background-color: rgba(255, 255, 255, 0.8) !important;
    padding: 5px !important;
    margin-bottom: 3px !important;
    border-radius: 3px !important;
  }

  ion-label{
    color: #222 !important;
  }
}
