page-register {
  .p_error{
    text-align: center;
    color: rgba(255, 44, 44, 0.9);
  }

  ion-row {
    align-items: center;
    text-align: center;
  }

  .bgImage{
    background-image: url("../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

    .signup-col {
    margin: 0px 16px 0px 16px;
    padding-bottom: 20px;
  }

  ion-item{
    background-color: rgba(255, 255, 255, 0.8) !important;
    padding: 5px !important;
    margin-bottom: 3px !important;
    border-radius: 3px !important;
  }

  ion-label{
    color: #222 !important;
  }
}
