<ion-header>
<headernav></headernav>
</ion-header>


<ion-content class="bgImage" >
    <div class="login-box">
    <form>
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-input type="email" placeholder="Correo Electronico" name="email"  [(ngModel)]="correo_electronico" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Nombres" name="nombres"  [(ngModel)]="nombres" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Apellidos" name="apellidos"  [(ngModel)]="apellidos" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Contraseña" name="password" [(ngModel)]="password" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="password" placeholder="Repite la contraseña" name="passwordrepeat" [(ngModel)]="password_repeat" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label>Genero</ion-label>
              <ion-select name="genero" [(ngModel)]="genero" >
                <ion-option value="M" selected="true">Masculino</ion-option>
                <ion-option value="F">Femenino</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="register-btn" block (click)="goRegister()" >Crear Cuenta Nueva</button>
        </ion-col>
      </ion-row>
    </form>
    <p class="p_error">{{error}}</p>
  </div>
</ion-content>
