<ion-header>
 <headernav></headernav>
</ion-header>

<ion-content padding>
  
  <ion-card color="blueapp" class="boxSurveys" *ngFor="let poll of surveys" (click)="goToPoll(poll.url)">
    <ion-item color="blueapp">
      <h2 class="bold">{{poll.titulo}}</h2>
      <p>Termina: {{poll.fecha_fin}}</p>
    </ion-item>
    <ion-card-content>
      <p>{{poll.descripcion}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col center text-center>
        <ion-note>
          {{poll.fecha_inicio}}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
  
</ion-content>
