page-streaming {
    #remoteVideos > * {
		width: 100%;
	}
    .boxMessage{
        background-image: url("../assets/images/bg.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        position: relative;
    }
    .message{
        position: absolute;
        top: 27%;
    }
}
