<!--
  Generated template for the Streaming page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<headernav></headernav>
</ion-header>


<ion-content *ngIf="hasConference == true">
  <div id="remoteVideos"></div>
</ion-content>

<ion-content *ngIf="hasConference == false" class="boxMessage">
    <h1 class="message" color="light" text-center>Lo sentimos, ¡No estamos transmitiendo!</h1>
</ion-content>