<ion-header>
  <headernav></headernav>
</ion-header>


<ion-content >
<form>
      <ion-row>
        <ion-col>
          <ion-list inset>
            <ion-item>
              <ion-label fixed>Email</ion-label>
              <ion-input type="email" name="email"  [(ngModel)]="profile.correo_electronico" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label fixed>Nombres</ion-label>
              <ion-input type="text"  name="nombres" [(ngModel)]="profile.nombres" required></ion-input>
            </ion-item>
            
            <ion-item>
              <ion-label fixed>Apellidos</ion-label>
              <ion-input type="text" name="apellidos" [(ngModel)]="profile.apellidos" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label fixed>Direccion</ion-label>
              <ion-input type="text" name="direccion" [(ngModel)]="profile.direccion" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label fixed>Telefono</ion-label>
              <ion-input type="number" name="telefono" [(ngModel)]="profile.telefono" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label fixed>Celular</ion-label>
              <ion-input type="number" name="celular" [(ngModel)]="profile.celular" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label fixed>Genero</ion-label>
              <ion-select name="genero" [(ngModel)]="profile.genero" >
                <ion-option value="M" selected="true">Masculino</ion-option>
                <ion-option value="F">Femenino</ion-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      
      <ion-row>
        <ion-col class="signup-col">
          <button ion-button class="submit-btn" color="greenapp" full type="submit" (click)="changeDataProfile()" >Guardar Cambios</button>
        </ion-col>
      </ion-row>
</form>
</ion-content>