page-photogallery {
  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 53%;
    width: 100%;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
  }

  .card-cant{
    font-size: 1.3em;
    position: absolute;
    top: 80%;
    left:85%;
    width: 15%;
    padding: 10px;
    color: #fff;
    background-color: rgba(0,0,0,0.5);
  }

  .image-portada{
    width: 100%;
    height: 200px;
  }
}
