<!--
  Generated template for the Photogallery page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<headernav></headernav>

</ion-header>


<ion-content padding>
  <ion-card *ngFor="let album of albums" (click)="goToAlbum(album.album_id)">
    <img class="image-portada" src="http://secure.altamenteapp.com{{album.portada}}"/>
      <div class="card-title">{{album.nombre}}</div>
      <div class="card-subtitle">{{album.fecha}}</div>
      <div class="card-cant">{{album.numero_fotos}}</div>
  </ion-card>
</ion-content>
