<ion-tabs color="dark">
    <ion-tab tabIcon="{{tab1.icon}}" tabTitle="{{tab1.title}}" [root]="tab1.page"></ion-tab>
    <ion-tab tabIcon="{{tab2.icon}}" tabTitle="{{tab2.title}}" tabBadge="{{cantNotifications}}" tabBadgeStyle="danger" [root]="tab2.page"></ion-tab>
    <ion-tab tabIcon="{{tab3.icon}}" tabTitle="{{tab3.title}}"  [root]="tab3.page"></ion-tab>
</ion-tabs>