<ion-content padding>
  <ion-tabs color="dark">
      <ion-tab tabTitle="{{tab1.title}}" [root]="tab1.page"></ion-tab>
      <ion-tab tabTitle="{{tab2.title}}" [root]="tab2.page"></ion-tab>
  </ion-tabs>
</ion-content>

