page-profile {
    .center-image{
        width: 100%;
        margin: 0px auto;
    }

    .image-profile{
        width: 6em;
        height: 6em;
        border: 4px solid #4eba6f;
        border-radius: 50%;
    }

    .h-profile{
        text-align: center;
        color: #2d95bf;
        margin: 0px;
    }

    .content-profile{
        height: 55%;
    }
}
