
<ion-header>
<headernav></headernav>
</ion-header>
<ion-content>
  <ion-item class="center-image" >  
      <ion-thumbnail item-left>
        <img class="image-profile" src="{{foto}}" (click)="goToEditProfile()" >
      </ion-thumbnail>
      <div item-content style="width:100%">
        <p class="titleTrack"><strong>{{nombres}} {{apellidos}}</strong></p>
        <p class="titleTrack"><strong>{{email}}</strong></p>
      </div>
  </ion-item>   
      <ion-list>
        <ion-item-group>
          <ion-item-divider color="dark">
            <ion-icon name="school"></ion-icon>  Mis Maestrias
          </ion-item-divider>
          <button ion-item *ngFor="let c of maestrias" (click)="goToCourse(c)">
              {{ c.nombre }}
          </button>
          <ion-item-divider color="dark">
            <ion-icon name="school"></ion-icon>  Mis Certificaciones
          </ion-item-divider>
          <button ion-item *ngFor="let c of certificaciones" (click)="goToCourse(c)">
              {{ c.nombre }}
          </button>
          <button text-center ion-item color="greenapp" (click)="addCourse()" >
              TENGO UN PIN
          </button>
        </ion-item-group>
      </ion-list>
</ion-content>
