
<ion-header>
<headernav></headernav>
</ion-header>


<ion-content>
  <iframe [src]="url" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Cargando...</iframe>
</ion-content>
