<ion-header>
<headernav></headernav>
</ion-header>


<ion-content>
  <ion-fab top right edge>
    <button ion-fab mini (click)="loadMessages()"><ion-icon name="refresh"></ion-icon></button>
  </ion-fab>
  <h2 text-center color="blueapp"><ion-icon name="filing"></ion-icon>   Mensajes</h2>
  <ion-list>
    <ion-item-sliding *ngFor="let message of messages; let i=index;">
      <ion-item class="item">
        <h2 class="titleItem">{{message.type}}</h2>
        <h3 class="bodyItem">{{message.body}}</h3>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="greenapp" (click)="goToReadMessage(i)">
          <ion-icon name="glasses"></ion-icon>
          Leer
        </button>
        <button ion-button color="salmonapp" (click)="deleteMessage(i)">
          <ion-icon name="close-circle"></ion-icon>
          Borrar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
