<!--
  Generated template for the Album page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<headernav></headernav>
</ion-header>


<ion-content>
  <ion-slides>
    <ion-slide class="bgSlide" *ngFor="let image of albums">
      <img src="http://secure.altamenteapp.com{{image.url}}">
    </ion-slide>
  </ion-slides>
</ion-content>
