<!--
  Generated template for the Conference page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<headernav></headernav>
</ion-header>


<ion-content padding>
    <video id="localVideo"></video>
    <div id="remoteVideos"></div>
</ion-content>
