page-home {
.bg-black{
    background-color: #000000 !important;
  }
  .content-app{
    padding: 0px 20px 0px 20px;
  }

  .p-app{
    font-size: 1.02em;
  }

  button{
    color: #f4f4f4 !important;
  }

  .noMargin{
    margin: 0px;
  }
  .marginB{
    margin-bottom: 15px !important;
  }
}