
<ion-header>
  <headernav></headernav>
</ion-header>

<ion-content class="card-background-page">

  <div class="content-app">
    <h3 text-center>Creamos experiencias que dejan huellas imborrables en tu alma y en tu corazon.</h3>
    <p text-justify class="p-app">Compartimos herramientas e información de sabiduría para que ilumines tu vida, comprendas la razón de cada suceso, despiertes tu fuerza interior y logres un cambio de adentro
      hacia afuera a través del desarrollo de tus 5 inteligencias.</p>
  </div>
    <h4 text-center>Conoce nuestros servicios.</h4>
    <ion-list class="noMargin">
      <button ion-item color="purpleapp" >
        <ion-icon name="school" item-left  ></ion-icon>
        Certificacion
      </button>
      <button ion-item (click)="goToMaestrias()" color="greenapp">
        <ion-icon name="school" item-left></ion-icon>
        Maestria
      </button>
      <button ion-item color="salmonapp" >
        <ion-icon name="calendar" item-left></ion-icon>
        Conferencias
      </button>
      <button ion-item color="blueapp" >
        <ion-icon name="clipboard" item-left></ion-icon>
        Programas de capacitacion
      </button>
      <button ion-item class="noMargin" color="yellowapp">
        <ion-icon color="light" name="videocam" item-left></ion-icon>
        Sesiones de coaching
      </button>
  </ion-list>
</ion-content>

