
<ion-header>
<headernav></headernav>
</ion-header>
<ion-content padding>
  <h2 text-center>Escríbenos</h2>
  <ion-list>

    <ion-item>
      <ion-label fixed>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="msj.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Correo</ion-label>
      <ion-input type="email" [(ngModel)]="msj.correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Celular</ion-label>
      <ion-input type="number" [(ngModel)]="msj.celular"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label fixed>Mensaje</ion-label>
      <ion-textarea [(ngModel)]="msj.mensaje"></ion-textarea>
    </ion-item>

    <button ion-button full color="yellowapp" (click)="send()">Enviar</button>
  </ion-list>
  <h2 text-center>o</h2>
  <h2 text-center>En redes sociales</h2>

  <p text-center>
    <a href="https://www.facebook.com/altamente.ingenieriahumana/" ion-button large color="facebook"><ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon></a>
    <a href="https://twitter.com/altamenteinghum" ion-button large color="twitter"><ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon></a>
    <a href="https://www.youtube.com/channel/UC4RciyRkEZoyA8YCVw8Zsdg" ion-button large color="youtube"><ion-icon ios="logo-youtube" md="logo-youtube"></ion-icon> </a>
    <a href="https://www.instagram.com/altamente_colombia/" ion-button large color="instagram"><ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon></a>
  </p>
 </ion-content>
