<ion-navbar color="dark">
    <button ion-button menuToggle *ngIf="isLogin() == true">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center><img class="dimImage"  src="./assets/images/logo.png"></ion-title>
</ion-navbar>