<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item icon-left *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon color="blueapp" name="{{p.icon}}"></ion-icon>
        {{p.title}}
      </button>
      <button ion-item menuClose icon-left color="danger" (click)="Logout()">
        <ion-icon name="log-out"></ion-icon>
        Cerrar Sesión
      </button>
    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>