
<ion-header>
<headernav></headernav>
</ion-header>

<ion-content>
  <ion-slides pager>

    <ion-slide>
      <ion-card>
        <img style="background-color: #2d2d2d;" src="./assets/images/logomaestria.png"/>
        <ion-card-content>
          <ion-card-title>
            <h1 text-center>Maestria en ingenieria humana</h1>
          </ion-card-title>
          <h3 text-center class="date-app">
            <ion-icon name="calendar"></ion-icon>
            Desde el 16 de Febrero al 15 de Agosto
          </h3>
          <h2 text-center class="price-app">$11.900 x MES</h2>
        </ion-card-content>
        <ion-buttons>
          <button ion-button color="secondary" medium block (click)="goToSuscribe(1,'Maestria en ingenieria humana')">
            Contactar
          </button>
        </ion-buttons>
      </ion-card>
    </ion-slide>

       <ion-slide>
      <ion-card>
        <img style="background-color: #2d2d2d;" src="./assets/images/logomaestria.png"/>
        <ion-card-content>
          <ion-card-title>
            <h1 text-center>Maestria en ingenieria humana</h1>
          </ion-card-title>
          <h3 text-center class="date-app">
            <ion-icon name="calendar"></ion-icon>
            Desde el 16 de Febrero al 15 de Agosto
          </h3>
          <h2 text-center class="price-app">$11.900 x MES</h2>
        </ion-card-content>
        <ion-buttons>
          <button ion-button color="secondary" medium block (click)="goToSuscribe(1,'Maestria en ingenieria humana')">
            Contactar
          </button>
        </ion-buttons>
      </ion-card>
    </ion-slide>


    <ion-slide>
      <ion-card>
        <img style="background-color: #2d2d2d;" src="./assets/images/logomaestria.png"/>
        <ion-card-content>
          <ion-card-title>
            <h1 text-center>Maestria en ingenieria humana</h1>
          </ion-card-title>
          <h3 text-center class="date-app">
            <ion-icon name="calendar"></ion-icon>
            Desde el 16 de Febrero al 15 de Agosto
          </h3>
          <h2 text-center class="price-app">$11.900 x MES</h2>
        </ion-card-content>
        <ion-buttons>
          <button ion-button color="secondary" medium block (click)="goToSuscribe(1,'Maestria en ingenieria humana')">
            Contactar
          </button>
        </ion-buttons>
      </ion-card>
    </ion-slide>


  </ion-slides>
</ion-content>
