page-messages {
    .titleItem{
        font-weight: bold;
        font-size: 1.2em;
        text-transform: uppercase;
    }

    .bodyItem{

    }

    .item{
        border-radius: 4px;
        border-bottom: 2px solid #2d95bf;
    }

}
