page-pay-premium {
 .bgImage{
    background-image: url("../assets/images/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }

  ion-item{
      font-weight: bold !important;
      background-color: rgba(255, 255, 255, .5) !important;
  }
}
