<!--
  Generated template for the PayPremium page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<headernav></headernav>

</ion-header>


<ion-content padding class="bgImage">
<h1 text-center color="light">Inscribete Ya y Obtén!!</h1>
<ion-list>
  <ion-item>1. Meditaciones.</ion-item>
  <ion-item>2. Mensajes Diarios de empoderamiento.</ion-item>
  <ion-item>3. Descuentos en conferencías y talleres.</ion-item>
  <ion-item>4. Video Streaming de altamente.</ion-item>
  <ion-item>5. Sesiones privadas de Coaching.</ion-item>
  <ion-item>6. Asesoria Empresarial.</ion-item>
  <ion-item>7. Acceso a libro virtual del mes.</ion-item>
  <ion-item>8. Biblioteca de musica consciente.</ion-item>
  <ion-item>9. Cronograma anual de actividades.</ion-item>
  <ion-item>10. Acceso a charla introductoria.</ion-item>
</ion-list>
</ion-content>
