page-course {
  ion-card {
    position: relative;
    text-align: center;
    height: 70px;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 1.2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  button{
    margin-bottom: 6px !important;
  }
}
