<ion-header>
<headernav></headernav>
</ion-header>


<ion-content padding>
  <h2 text-center>{{courseData.nombre}}</h2>
  <p text-center >Desde el {{courseData.fecha_inicio}} hasta el {{courseData.fecha_fin}}</p>

  <ion-list *ngIf="courseData.tipo_curso == 'C'">
    <button ion-item color="blueapp">
      <ion-icon name="folder-open" item-left></ion-icon>
      My Coachee
    </button>
        <button ion-item color="blueapp">
      <ion-icon  name="bookmarks" item-left></ion-icon>
      Guías de estudio
    </button>
        <button ion-item color="blueapp">
      <ion-icon name="browsers" item-left></ion-icon>
      Material de apoyo
    </button>
    <button ion-item color="blueapp">
      <ion-icon  name="book" item-left></ion-icon>
      Memorias
    </button>
    <button ion-item color="blueapp" (click)="goToMeditations(courseData.curso_id)">
      <ion-icon name="musical-notes" item-left  ></ion-icon>
      Meditaciones
    </button>
    <button ion-item color="blueapp" (click)="goToEvents(courseData.curso_id)">
      <ion-icon  name="calendar" item-left></ion-icon>
      Agenda y Cronograma
    </button>
    <button ion-item color="blueapp">
      <ion-icon name="videocam" item-left></ion-icon>
      Streaming Coach
    </button>
    <button ion-item color="blueapp" (click)="goToGallery(courseData.curso_id)">
      <ion-icon  name="images" item-left></ion-icon>
      Galeria de imagenes
    </button>
    <button ion-item color="blueapp">
      <ion-icon  name="paper" item-left></ion-icon>
      Nota
    </button>
  </ion-list>

  <ion-list *ngIf="courseData.tipo_curso == 'M'">
    <button ion-item color="blueapp">
      <ion-icon name="bookmarks" item-left></ion-icon>
      Libros recomendaros
    </button>
    <button ion-item color="blueapp">
      <ion-icon name="albums" item-left></ion-icon>
        Tareas y ejercicios
    </button>
    <button ion-item color="blueapp" (click)="goToSurveys(courseData.curso_id)">
      <ion-icon name="list-box" item-left></ion-icon>
      Encuestas
    </button>
    <button ion-item color="blueapp">
      <ion-icon name="clipboard" item-left></ion-icon>
        Inscripción a certificación
    </button>
    <button ion-item color="blueapp">
      <ion-icon name="videocam" item-left></ion-icon>
        Solicitar sesión a coach    
    </button>
        <button ion-item color="blueapp">
      <ion-icon name="book" item-left></ion-icon>
      Memorias
    </button>
    <button ion-item color="blueapp" (click)="goToMeditations(courseData.curso_id)">
      <ion-icon name="musical-notes" item-left  ></ion-icon>
      Meditaciones
    </button>
    <button ion-item color="blueapp" (click)="goToEvents(courseData.curso_id)">
      <ion-icon name="calendar" item-left></ion-icon>
      Agenda y Cronograma
    </button>
    <button ion-item color="blueapp">
      <ion-icon name="videocam" item-left></ion-icon>
      Streaming Coach
    </button>
    <button ion-item color="blueapp" (click)="goToGallery(courseData.curso_id)">
      <ion-icon name="images" item-left></ion-icon>
      Galeria de imagenes
    </button>
    <button ion-item color="blueapp">
      <ion-icon name="paper" item-left></ion-icon>
      Nota
    </button>
  </ion-list>
</ion-content>
