<!--
  Generated template for the Cronograma page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<headernav></headernav>
</ion-header>


<ion-content padding>
        <ion-grid>
          <ion-row class="boxEvent" *ngFor="let event of events">
            <ion-col width-30>
              <ion-card>
                <div class="card-month">{{isMonth(event.fecha_hora_inicio.getMonth()+1)}}</div>
                <div class="card-year">{{event.fecha_hora_inicio.getFullYear()}}</div>
                <div class="card-title">{{event.fecha_hora_inicio.getUTCDate()}}</div>
                <div class="card-time">{{event.fecha_hora_inicio.getHours()}}:{{event.fecha_hora_inicio.getMinutes()}}</div>
              </ion-card>
            </ion-col>
            <ion-col width-70 class="info">
               <h2 class="bold titleEvent">{{event.titulo}}</h2>
               <h3 class="descripEvent">{{event.descripcion}}</h3>
               <p color="salmonapp" class="bold date">Termina: {{isMonth(event.fecha_hora_fin.getMonth()+1)}} {{event.fecha_hora_fin.getUTCDate()}} {{event.fecha_hora_fin.getFullYear()}}</p>
            </ion-col>

          </ion-row>
        </ion-grid>
</ion-content>
