page-events {
    .margin-bottom-10{
        margin-bottom: 10px;
    }

    .bold{
        font-weight: bold;
    }

    ion-item{
        padding: 0px !important;
    }

    ion-card {
        position: relative;
        text-align: center;
        padding: 0px !important;
        margin: 0px !important;
        width: 100% !important;
        height: 120px !important;
        border-radius: 10px !important;
        background-color: #f15a5a !important;
    }

    .card-title {
        position: absolute;
        top: 25%;
        font-size: 4.0em;
        width: 100%;
        font-weight: bold;
        color: white;
    }

    .card-month{
        position: absolute;
        top: 10%;
        left: 0;
        font-size: 1.0em;
        width: 50%;
        font-weight: bold;
        color: white;
    }

    .card-year{
        position: absolute;
        top: 10%;
        left: 45%;
        font-size: 1.0em;
        width: 50%;
        font-weight: bold;
        color: white;
    }

    .card-time{
        position: absolute;
        top: 80%;
        left: 0%;
        font-size: 1.0em;
        width: 100%;
        font-weight: bold;
        color: white;
    }

    .descripEvent{
        text-align: justify;
        font-size: 1em;
    }

    .titleEvent{
        text-align: left;
        font-size: 1.1em;
        font-weight: bold;
    }

    .date{
        margin: 0px !important;
        padding: 0px !important;
    }

    .info{
        padding: 15px 0px 15px 0px;
    }

    .boxEvent{
        padding: 5px;
        border-radius: 10px;
        background-color: #eaeaea !important;
        margin-bottom: 5px;
        
    }
}
