<ion-header>
<headernav></headernav>
</ion-header>

<ion-content padding>
  <h2 text-center>Contactar para {{name}}</h2>
  <ion-list>

    <ion-item>
      <ion-label fixed>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="msj.nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Correo</ion-label>
      <ion-input type="email" [(ngModel)]="msj.correo"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label fixed>Celular</ion-label>
      <ion-input type="number" [(ngModel)]="msj.celular"></ion-input>
    </ion-item>


    <ion-item>
      <ion-label fixed>Mensaje</ion-label>
      <ion-textarea [(ngModel)]="msj.mensaje"></ion-textarea>
    </ion-item>

    <button ion-button full (click)="send()">Enviar</button>
  </ion-list>
</ion-content>
