<!--
  Generated template for the Conferencias page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<headernav></headernav>
</ion-header>


<ion-content padding>

</ion-content>
