page-meditaciones {
    .titleTrack{
        margin-top: 10px;
    }
    
    .boxTrack{
        background-color: #eaeaea;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .imgReproductor{
        background-color:#2d95bf;
        border-radius: 10%;
    }
}
